*.exp
*.ilk
*.lib
*.suo
*.vcproj.*
*.ncb
*.suo
*.dll
*.pdb
*.o
*.o*
*.so
.deps
.libs
*.lo
*.la
*.hex
*.elf
*.map
private.*
/dist/default/
/build/default/production/
Makefile-genesis.properties
#Makefile-variables.mk
#Makefile-default.mk

